.fancybox__slide {
    padding: 0;
}

.fancybox__content {
    padding: 10px;
    color: #000;
}

.fancybox__content :focus:not(.carousel__button.is-close-btn) {
    outline: none;
}

.f-button.is-close-btn {
    box-shadow: none !important;
}

.fancybox__carousel .fancybox__content > .f-button.is-close-btn {
    --f-button-color: #fff;
    --f-button-svg-width: 18px;
    --f-button-svg-height: 18px;
    --f-button-hover-color: #666;
    --f-button-border-radius: 10px;
    --f-button-outline-color: unset;
    --f-button-bg: #231f20;
    --f-button-active-bg: unset;
    --f-button-hover-bg: unset;
    --f-button-svg-stroke-width: 3px;
    --f-button-width: 44px;
    --f-button-height: 44px;
    top: 10px;
    right: 10px;
    opacity: 1;

    @include breakpoint(md) {
        top: 20px;
        right: 20px;
    }
}

.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, 0.5);
}

.popup-search {
    display: none;

    &.fancybox-slideDown {
        animation-name: slideDown;
        animation-duration: 0.2s;
    }

    &.fancybox-slideUp {
        animation-name: slideUp;
        animation-duration: 0.2s;
    }

    &.fancybox__content {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.fancybox__content > button.f-button.is-close-btn {
        --f-button-color: #231f20;
        --f-button-border-radius: unset;
        --f-button-bg: transparent;
        --f-button-svg-stroke-width: 3px;
        --f-button-width: 24px;
        --f-button-height: 24px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        @include breakpoint(sm) {
            right: 20px;
        }

        &:hover {
            background: transparent;
        }
    }

    & .popup-search-container {
        margin: 0 auto;
        padding: 20px $container;
        width: 100%;

        @include breakpoint(hd) {
            padding: 40px $container;
        }
    }

    & .search-form {
        display: flex;
        align-items: center;

        @include breakpoint(md) {
            align-items: flex-end;
        }
    }

    & .input-style {
        width: calc(100% - 88px);

        @include breakpoint(md) {
            width: calc(100% - 206px);
        }
    }

    & input {
        @include breakpointMax(md) {
            padding: 10px;
            height: 40px;
            border-radius: 8px;
        }
    }

    & .btn {
        margin-left: 4px;
        padding: 0;

        @include breakpointMax(md) {
            width: 40px;
            height: 40px;
        }

        @include breakpoint(md) {
            margin-left: 10px;
            padding: 18px 28px;
        }
    }

    & .btn p {
        @include breakpointMax(md) {
            display: none;
        }

        @include breakpoint(md) {
            margin-right: 10px;
        }
    }
}

@keyframes slideDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translateZ(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
}

.popup {
    padding-top: 74px;
    display: none;
    width: 100%;

    @include breakpointMax(md) {
        height: 100%;
    }

    @include breakpoint(md) {
        padding: 20px;
        max-width: 700px;
        border-radius: 20px;
    }

    & input {
        background: #f4f4f4;
    }
}

.popup-tab {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.popup-tab__item {
    padding: 6px 10px;
    background: #f1f4f5;
    font-size: 18px;
    font-weight: 700;
    color: #8c8c8c;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;

    &.active {
        color: $brand;
    }
}

.popup-block {
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.2s;

    &.active {
        display: block;
    }
}

.popup-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}

.popup-form {
    display: grid;
    row-gap: 10px;
}

.popup-submit {
    margin-top: 10px;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}

.popup-submit .btn {
    @include breakpointMax(md) {
        width: 100%;
    }

    @include breakpoint(md) {
        flex-shrink: 0;
    }
}

.popup-submit .agreement {
    @include breakpointMax(md) {
        margin-top: 10px;
    }

    @include breakpoint(md) {
        max-width: 334px;
    }
}

.popup-forgot {
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
    color: #666;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    user-select: none;
    cursor: pointer;
}

.popup-success {
    @include breakpoint(md) {
        padding: 40px 40px 20px;
        font-size: 20px;
    }

    & img {
        margin-bottom: 20px;
        width: 80px;
        height: 80px;

        @include breakpoint(md) {
            width: 125px;
            height: 125px;
        }
    }

    & p {
        margin-bottom: 20px;

        & + p {
            margin-bottom: 10px;
        }
    }

    & ul {
        margin-bottom: 20px;
    }
}

.popup-upload {
    @include breakpoint(md) {
        padding-top: 84px;
    }
}

.popup.popup-table {
    @include breakpointMax(md) {
        padding: 15px 10px;
        position: absolute;
        bottom: 0;
        height: 270px;
    }

    @include breakpoint(lg) {
        max-width: 840px;
    }
}

.input-file {
    position: relative;

    & input {
        display: none;
    }

    & label {
        padding: 5px;
        background: #f4f4f4;
        position: relative;
        display: flex;
        align-items: center;
        transition: $transition;
        border-radius: 10px;
        overflow: hidden;
        isolation: isolate;
        user-select: none;
        cursor: pointer;

        &:hover {
            background: #c1c1c1;
        }
    }

    & input:disabled + label {
        cursor: default;
    }

    & .wrap {
        & p {
            font-size: 14px;
        }

        & p:first-child {
            max-width: 220px;
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            @include textLimit(1);

            @include breakpoint(md) {
                max-width: 450px;
            }
        }
    }

    & .progress {
        position: absolute;
        left: 0;
        height: 100%;
        width: 0;
        height: 100%;
        background-color: #e0e0e0;
        transition: all 0.8s ease;
        z-index: -1;
    }
}

.input-file-img {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 1px dashed #8c8c8c;
    border-radius: 8px;
}

.input-file-icon {
    position: absolute;
    top: 18px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: $transition;
    cursor: pointer;

    & img {
        width: 100%;
        height: 100%;
    }

    &.remove {
        transform: rotate(45deg);
    }

    &:not(.remove) {
        pointer-events: none;
    }
}
