.fancybox__slide {
    padding: 0;
}

.fancybox__content {
    padding: 10px;
    color: #000;
}

.fancybox__content :focus:not(.carousel__button.is-close-btn) {
    outline: none;
}

.f-button.is-close-btn {
    box-shadow: none !important;
}

.fancybox__carousel .fancybox__content > .f-button.is-close-btn {
    --f-button-color: #222;
    --f-button-svg-width: 18px;
    --f-button-svg-height: 18px;
    --f-button-hover-color: #fff;
    --f-button-border-radius: unset;
    --f-button-outline-color: unset;
    --f-button-bg: transparent;
    --f-button-active-bg: unset;
    --f-button-hover-bg: unset;
    --f-button-svg-stroke-width: 3px;
    --f-button-width: 24px;
    --f-button-height: 24px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 1;

    @include breakpoint(sm) {
        right: 20px;
    }
}

.f-button:hover:not([disabled]) {
    color: unset;
    background-color: unset;
}

.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, 0.5);
}

.popup {
    display: none;
}

.popup.fancybox-slideDown {
    animation-name: slideDown;
    animation-duration: 0.2s;
}

@keyframes slideDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translateZ(0);
    }
}

.popup.fancybox-slideUp {
    animation-name: slideUp;
    animation-duration: 0.2s;
}

@keyframes slideUp {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
}

.popup-search.fancybox__content {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.popup-search-container {
    margin: 0 auto;
    padding: 20px $container;
    width: 100%;

    @include breakpoint(hd) {
        padding: 40px $container;
    }
}

.search-form {
    display: flex;
    align-items: center;

    @include breakpoint(md) {
        align-items: flex-end;
    }
}

.popup-search .input-style {
    width: calc(100% - 88px);

    @include breakpoint(md) {
        width: calc(100% - 206px);
    }
}

.popup-search input {
    @include breakpointMax(md) {
        padding: 10px;
        height: 40px;
        border-radius: 8px;
    }
}

.popup-search .btn {
    margin-left: 4px;
    padding: 0;
    justify-content: center;

    @include breakpointMax(md) {
        width: 40px;
        height: 40px;
    }

    @include breakpoint(md) {
        margin-left: 10px;
        padding: 18px 28px;
    }
}

.popup-search .btn p {
    @include breakpointMax(md) {
        display: none;
    }

    @include breakpoint(md) {
        margin-right: 10px;
    }
}
