block header

    header#header.header

        .container

            .header__inner

                .header__logo
                    a(href="/")
                        +img('logo.svg')

                nav.header__nav
                    .close-menu
                    ul.nav
                        li.nav__item.has-child
                            a.nav__item-link(href="catalog.html") Аниме
                            .arrow-down
                            ul.subnav
                                li
                                    a(href="#") Магическая битва
                                li
                                    a(href="#") Клинок, рассекающий демонов
                                li
                                    a(href="#") Берсерк
                                li
                                    a(href="#") Баскетбол Куроко
                                li
                                    a(href="#") Человек-бензопила
                                li
                                    a(href="#") Моя геройская академия
                                li
                                    a(href="#") Евангелион
                                li
                                    a(href="#") Блич
                                li
                                    a(href="#") Магическая битва
                                li
                                    a(href="#") Клинок, рассекающий демонов
                                li
                                    a(href="#") Берсерк
                                li
                                    a(href="#") Баскетбол Куроко
                                li
                                    a(href="#") Человек-бензопила
                                li
                                    a(href="#") Моя геройская академия
                                li
                                    a(href="#") Евангелион
                                li
                                    a(href="#") Блич
                                li
                                    a(href="#") Магическая битва
                                li
                                    a(href="#") Клинок, рассекающий демонов
                                li
                                    a(href="#") Берсерк
                                li
                                    a(href="#") Баскетбол Куроко
                                li
                                    a(href="#") Человек-бензопила
                                li
                                    a(href="#") Моя геройская академия
                                li
                                    a(href="#") Евангелион
                                li
                                    a(href="#") Блич

                        li.nav__item
                            a.nav__item-link(href="#") Футболки
                        li.nav__item
                            a.nav__item-link(href="#") Лонгсливы
                        li.nav__item
                            a.nav__item-link(href="#") худи
                        li.nav__item.has-child
                            a.nav__item-link(href="#") Инфо
                            .arrow-down
                            ul.subnav
                                li
                                    a(href="#") О Бренде
                                li
                                    a(href="#") Доставка и оплата
                                li
                                    a(href="#") Возврат и обмен
                                li
                                    a(href="#") FAQ
                                li
                                    a(href="#") Контакты
                        li.nav__item.has-child
                            a.nav__item-link(href="news.html") Новости
                            .arrow-down
                            ul.subnav
                                li
                                    a(href="#") Новости бренда
                                li
                                    a(href="#") Сводка из мира аниме
                        li.nav__item
                            a.nav__item-link(href="contacts.html") Контакты

                .header__phone
                    include ../icons/phone.svg
                    a(href="+79000000000") +7 900 000-00-00

                .header__user
                    a(href="#")
                        include ../icons/user.svg
                        p(title="Alexsandеr@gmail.com") Alexsandеr@gmail.com
                        span 10 000 бал.

                .header__icons
                    .icon.icon__user
                        a(href="#")
                            include ../icons/user.svg

                    .icon.icon__search(href="#popup-search" data-fancybox)
                        include ../icons/002-search.svg

                    .icon.icon__fav.count-item(data-item=10)
                        a(href="#")
                            include ../icons/003-heart.svg

                    .icon.icon__cart.count-item(data-item=10)
                        a(href="#")
                            include ../icons/001-shopping-bag.svg

                .header__menu
                    +img('menu.svg')