.cart-top {
    margin-bottom: 20px;
    padding: 6px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    @include breakpoint(md) {
        padding: 10px;
    }
}

.cart-count {
    font-size: 14px;

    @include breakpoint(md) {
        font-size: 16px;
    }
}

.clear-btn {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    user-select: none;
    cursor: pointer;

    @include breakpoint(md) {
        font-size: 16px;
    }

    &::before {
        content: '';
        margin-right: 4px;
        background: url('/assets/images/x.svg') no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        filter: $filter-black;

        @include breakpoint(md) {
            margin-right: 8px;
        }
    }
}

.cart__trash {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;

    @include breakpoint(md) {
        top: 20px;
        right: 20px;
    }
}

.cart {
    @include breakpoint(lg) {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 7fr 5fr;
        column-gap: 15px;
    }
}

.cart__item {
    padding: 16px;
    background: #fff;
    position: relative;
    display: grid;
    border-radius: 20px;

    @include breakpoint(md) {
        padding: 20px;
    }

    & ~ .cart__item {
        margin-top: 10px;
    }
}

.cart__item-img {
    margin-bottom: 30px;
    grid-column: 1 / 5;
    width: 110px;
    height: 110px;

    @include breakpoint(md) {
        margin-bottom: 20px;
        grid-column: 1;
        grid-row: 1 / 4;
    }

    @include breakpoint(hd) {
        margin-bottom: 0;
        width: 172px;
        height: 172px;
    }

    & a {
        display: block;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.cart__item-title {
    margin-bottom: 12px;
    grid-column: 1 / 5;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;

    @include breakpoint(md) {
        margin-bottom: 12px;
        margin-left: 140px;
        grid-column: 1 / 3;
        grid-row: 1;
    }

    @include breakpoint(hd) {
        margin-left: 222px;
    }

    & a {
        @include textLimit(2);

        @include breakpoint(md) {
            width: calc(100% - 140px);
        }

        @include breakpoint(lg) {
            width: calc(100% - 74px);
        }

        @include breakpoint(hd) {
            width: calc(100% - 264px);
        }
    }
}

.cart__item-info {
    grid-column: 1 / 5;
    display: flex;
    width: 100%;

    @include breakpointMax(md) {
        margin-bottom: 20px;
    }

    @include breakpoint(md) {
        margin-left: 140px;
        grid-column: 1 / 3;
        grid-row: 2;
    }

    @include breakpoint(hd) {
        margin-bottom: 40px;
        margin-left: 222px;
    }

    & p {
        font-size: 14px;

        @include breakpoint(hd) {
            font-size: 16px;
        }

        & ~ p {
            margin-left: 15px;
        }
    }
}

.cart__item-wrap {
    @include breakpointMax(md) {
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(md) {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    @include breakpoint(hd) {
        margin-left: 222px;
        column-gap: 30px;
        grid-row: 3;
        width: calc(100% - 202px);
    }
}

.cart__item-label {
    margin-bottom: 22px;
    width: 116px;
    font-size: 14px;
    color: #666;
}

.cart__item-value {
    font-size: 16px;
    font-weight: 700;

    @include breakpoint(hd) {
        font-size: 18px;
    }

    & span {
        margin-left: 4px;
        font-weight: 400;
        color: #666;
        text-decoration: line-through;
    }
}

.cart__price {
    @include breakpointMax(md) {
        width: 172px;
    }
}

.cart__quantity {
    @include breakpointMax(md) {
        margin-left: 20px;
    }

    @include breakpoint(md) {
        display: grid;
        justify-content: center;
    }

    & .cart__item-label {
        margin-bottom: 6px;
        text-align: center;
    }

    & .qty-input {
        height: 48px;
    }
}

.cart__sum {
    @include breakpointMax(md) {
        margin-top: 20px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    & .cart__item-label {
        @include breakpointMax(md) {
            margin-right: 20px;
            margin-bottom: 0;
            width: auto;
        }
    }
}

.cart-side {
    display: grid;

    @include breakpointMax(lg) {
        margin-top: 40px;
    }

    @include breakpoint(lg) {
        margin-left: auto;
        width: calc(100% - 104px);
    }

    @include breakpoint(xl) {
        width: calc(100% - 124px);
    }

    @include breakpoint(hd) {
        width: calc(100% - 164px);
    }

    & .register-sale {
        @include breakpointMax(lg) {
            margin-bottom: 10px;
            grid-row: 1;
        }

        @include breakpoint(lg) {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 40px auto;
            column-gap: 20px;
        }

        & svg {
            @include breakpoint(md) {
                flex-shrink: 0;
            }
        }

        & p {
            font-weight: 700;

            @include breakpoint(lg) {
                margin-left: 0;
            }
        }

        & .btn {
            font-size: 13px;
            height: 44px;

            @include breakpoint(lg) {
                margin: 20px 0 0;
                grid-column: 2;
            }
        }
    }
}

.cart-total {
    padding: 16px;
    background: #fff;
    border-radius: 20px;

    @include breakpoint(md) {
        padding: 20px;
    }
}

.total-props {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    &.total-sum {
        margin-top: 0;
        margin-bottom: 20px;

        & .total-props__name {
            width: 55%;
            font-size: 18px;
            font-weight: 700;
        }

        & .total-props__value {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.total-props__name {
    position: relative;
    flex-shrink: 0;
    width: 60%;
    font-size: 16px;
    font-weight: 700;
    color: #666;
}

.total-props__value {
    padding-left: 5px;
    position: relative;
    font-size: 16px;
    text-align: right;
}

.total-action {
    margin-top: 30px;

    @include breakpoint(md) {
        margin-top: 20px;
        display: flex;
    }

    @include breakpoint(lg) {
        flex-direction: column;
    }

    & .btn {
        width: 100%;
        height: 60px;

        @include breakpoint(lg) {
            height: 48px;
        }

        & ~ .btn {
            @include breakpointMax(md) {
                margin-top: 10px;
            }

            @include breakpoint(md) {
                margin-left: 10px;
            }

            @include breakpoint(lg) {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }
}
