.checkout {
    @include breakpoint(lg) {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 7fr 5fr;
        column-gap: 15px;
    }

    @include breakpoint(xl) {
        column-gap: 40px;
    }

    & .input-style input {
        background: #f4f4f4;
    }

    & .textarea-style textarea {
        background: #f4f4f4;
    }
}

.block {
    padding: 16px;
    background: #fff;
    border-radius: 12px;

    @include breakpoint(md) {
        padding: 20px;
    }

    & ~ .block {
        margin-top: 10px;
    }
}

.block-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.block-header {
    display: flex;
    align-items: center;

    & span {
        margin-right: 10px;
        background: $brand;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        color: #fff;
        border-radius: 4px;
    }
}

.block__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
}

.block__edit {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
        content: '';
        margin-left: 10px;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Ikljb24vT3V0bGluZS9jaGVjay1jaXJjbGUiPgo8cGF0aCBpZD0iSWNvbiIgZD0iTTcuNSAxMC41TDkuMTY2NjcgMTIuMTY2N0wxMi41IDguODMzMzNNMTcuNSAxMC41QzE3LjUgMTQuNjQyMSAxNC4xNDIxIDE4IDEwIDE4QzUuODU3ODYgMTggMi41IDE0LjY0MjEgMi41IDEwLjVDMi41IDYuMzU3ODYgNS44NTc4NiAzIDEwIDNDMTQuMTQyMSAzIDE3LjUgNi4zNTc4NiAxNy41IDEwLjVaIiBzdHJva2U9IiMyMTk2NTMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPC9zdmc+Cg==);
        display: block;
        width: 20px;
        height: 20px;
    }
}

.block-wrap {
    margin-top: 20px;
    display: none;

    .block.active & {
        display: block;
    }
}

.block-footer {
    margin-top: 20px;
    display: flex;

    & .btn {
        padding: 12px 16px;
        display: flex;
        height: 44px;
        font-size: 13px;
    }

    & .btn-next {
        margin-left: auto;
    }
}

.block-content {
    margin-top: 20px;

    & p {
        & ~ p {
            margin-top: 10px;
        }
    }

    & b {
        margin-right: 5px;
    }
}

.location {
    & .input-style {
        display: grid;
        gap: 10px;

        @include breakpoint(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        & input {
            background: #f4f4f4;
            height: 58px;
        }
    }
}

.delivery {
    @include breakpoint(md) {
        display: flex;
        align-items: flex-start;
        column-gap: 30px;
    }

    @include breakpoint(hd) {
        column-gap: 40px;
    }
}

.delivery-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;

    @include breakpoint(md) {
        grid-auto-rows: 1fr;
    }

    @include breakpoint(hd) {
        grid-template-columns: repeat(4, 1fr);
    }

    & label {
        padding: 10px;
        background: #f4f4f4;
        display: block;
        border: 1px solid transparent;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;

        @include breakpoint(md) {
            height: 100%;
        }
    }

    & input {
        display: none;

        &:checked {
            & + label {
                border-color: $brand;
            }
        }
    }
}

.delivery__item {
    & img {
        margin-bottom: 10px;
    }

    & .block-title {
        margin-bottom: 4px;
    }

    & p {
        font-size: 14px;
    }
}

.delivery-block {
    padding: 20px;
    background: #f2f2f2;
    border-radius: 20px;

    @include breakpointMax(md) {
        margin-top: 20px;
    }

    @include breakpoint(md) {
        flex-shrink: 0;
        width: 230px;
    }

    @include breakpoint(hd) {
        width: 256px;
    }

    & img {
        margin-bottom: 10px;
    }

    & .btn {
        padding: 12px 16px;
        width: 100%;
    }
}

.delivery-block__text {
    margin-bottom: 20px;
    font-size: 14px;
}

.delivery-block__item {
    margin-top: 20px;

    & p {
        &:last-child {
            margin-top: 4px;
            font-weight: 700;
            line-height: 140%;
        }
    }
}

.payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 10px;

    @include breakpoint(xl) {
        grid-template-columns: 291px 291px;
    }
}

.payment__item {
    & label {
        padding: 12px;
        background: #f4f4f4;
        display: block;
        height: 100%;
        border: 1px solid transparent;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;

        @include breakpoint(md) {
            padding: 20px;
        }
    }

    & input {
        display: none;

        &:checked {
            & + label {
                border-color: $brand;
            }
        }
    }

    & img {
        margin-bottom: 10px;
    }
}

.bonus-account {
    & .input-style {
        margin-top: 20px;
    }
}

.bonus-account__item {
    display: flex;
    align-items: center;

    & ~ .bonus-account__item {
        margin-top: 4px;
    }

    & b {
        margin-left: 10px;
    }
}

.customer-info {
    display: grid;
    gap: 10px;

    & .input-style {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

.checkout-total {
    padding: 16px;
    background: #fff;
    border-radius: 20px;

    @include breakpoint(md) {
        padding: 20px;
    }

    @include breakpointMax(lg) {
        margin-top: 40px;
    }

    @include breakpoint(lg) {
        margin-left: auto;
        position: sticky;
        top: 110px;
        width: calc(100% - 104px);
    }

    @include breakpoint(xl) {
        top: 120px;
        width: calc(100% - 124px);
    }

    @include breakpoint(hd) {
        width: calc(100% - 164px);
    }

    & .total-props {
        margin: 0 0 10px;

        @include breakpoint(md) {
            margin-bottom: 14px;
        }

        &.total-sum {
            margin: 0 0 20px;

            & .total-props__name {
                width: 45%;
                color: $brand;
            }
        }
    }

    & .total-props__name {
        width: 45%;
    }

    & .total-action {
        margin-top: 20px;

        & .btn {
            @include breakpoint(md) {
                height: 56px;
            }
        }
    }

    & .agreement {
        margin-top: 20px;
    }
}

.section-checkout-success {
    margin-top: 60px;
    text-align: center;

    @include breakpointMax(md) {
        padding: 0 var(--container);
    }

    & img {
        margin-bottom: 40px;
        width: 80px;
        height: 80px;

        @include breakpoint(md) {
            width: 125px;
            height: 125px;
        }
    }

    & h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        line-height: 140%;

        @include breakpoint(md) {
            font-size: 24px;
        }

        @include breakpoint(lg) {
            font-size: 30px;
        }

        @include breakpoint(hd) {
            font-size: 35px;
        }
    }

    & p {
        @include breakpoint(hd) {
            font-size: 20px;
        }
    }
}

.checkout-success {
    margin: auto;
    padding: 20px 15px;
    background: #fff;
    max-width: 466px;
    border-radius: 20px;

    @include breakpoint(md) {
        padding: 40px;
    }

    @include breakpoint(lg) {
        max-width: 690px;
    }

    @include breakpoint(hd) {
        max-width: 930px;
    }
}
