.section-personal-history {
    & .orders {
        row-gap: 10px;
    }

    & .order__top {
        padding-bottom: 0;
        border: none;
    }

    & .order__body {
        & p {
            font-size: 14px;
            line-height: 140%;
            color: #666;

            & span {
                margin-left: 10px;
            }
        }
    }

    & .order__bottom {
        justify-content: space-between;
    }

    & .order-link-info {
        margin: 0;
        width: auto;
    }
}
