extends /layout/layout

block title
    - var title = 'Инструкции'

block main

    style.
        body {
            padding: 50px;
            background: #333;
            color: #fff;
        }

        .header,.footer {
            display: none;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 25px;
        }

        code {
            color: yellow;
        }

    div
        code popupSuccess()
        span —
        p Вызывает попап успешной заявки

    div
        code popupSuccessReg()
        span —
        p Вызывает попап успешной регистрации

    div
        code popupSuccessSubscribe()
        span —
        p Вызывает попап успешной подписки

    div
        code popupSuccessReview()
        span —
        p Вызывает попап успешной отправки отзыва

    div
        code popupAddedCart($img, $productName)
        span —
        p Товар добавлен в корзину