extends /layout/layout

block title
    - var title = 'Оформление'
    - var page = 'page-checkout'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Оформление', 'Оформление')

    section.section-checkout

        .container

            .checkout

                .checkout-main
                    
                    // step 1
                    .block.active
                        .block-header
                            span 1
                            .block__name Регион доставки
                            <!-- <div class="block__edit">Изменить</div> -->

                        .block-wrap
                            .block-body

                                .location
                                    .input-style
                                        input(type="text", name="customer-city", placeholder="*Местоположение")
                                        input(type="text", name="customer-index", placeholder="*Индекс")

                            .block-footer
                                .btn-next.btn.btn--black Далее

                        <!-- <div class="block-content"><b>Местоположение:</b>
                            <p>Москва, Центр, Россия</p>
                        </div> -->

                    // step 2
                    .block
                        .block-header
                            span 2
                            .block__name Доставка

                        .block-wrap
                            .block-body

                                .delivery

                                    .delivery-items

                                        .delivery__item
                                            input#delivery_1(type="radio", name="delivery", checked)
                                            label(for="delivery_1")
                                                +img('cdek.png')
                                                .block-title СДЭК, Доставка курьером
                                                p Стоимость и сроки доставки рассчитывается индивидуально
                                    
                                        .delivery__item
                                            input#delivery_2(type="radio", name="delivery")
                                            label(for="delivery_2")
                                                +img('cdek.png')
                                                .block-title СДЭК, Доставка в почтамат
                                                p Стоимость и сроки доставки рассчитывается индивидуально
                                        
                                        .delivery__item
                                            input#delivery_3(type="radio", name="delivery")
                                            label(for="delivery_3")
                                                +img('cdek.png')
                                                .block-title СДЭК, Доставка в пункт выдачи
                                                p Стоимость и сроки доставки рассчитывается индивидуально

                                        .delivery__item
                                            input#delivery_4(type="radio", name="delivery")
                                            label(for="delivery_4")
                                                +img('pochta-russia.png')
                                                .block-title Доставка почтой России
                                                p Стоимость и сроки доставки рассчитывается индивидуально

                                    .delivery-block
                                        +img('cdek.png')
                                        .delivery-block__text СДЭК, Доставка в почтамат
                                        .btn.btn--border-black Выбрать почтамат

                                        .delivery-block__item
                                            p Стоимость
                                            p 100 000 ₽
                                        
                                        .delivery-block__item
                                            p Срок доставки
                                            p 2–3 дня

                            .block-footer
                                .btn-back.btn.btn--border-black Назад
                                .btn-next.btn.btn--black Далее

                        <!-- <div class="block-content"><b>Доставка:</b>
                            <p>СДЭК, Доставка в&nbsp;почтамат 200&nbsp;₽</p>
                        </div> -->

                    // step 3
                    .block
                        .block-header
                            span 3
                            .block__name Оплата

                        .block-wrap
                            .block-body
                                
                                .payment
                                    
                                    .payment__item
                                        input#payment_1(type="radio", name="payment", checked)
                                        label(for="payment_1")
                                            +img('smartphone.svg')
                                            .block-title Банковская карта

                                    .payment__item
                                        input#payment_2(type="radio", name="payment", checked)
                                        label(for="payment_2")
                                            +img('qr-code.svg')
                                            .block-title QR-код
                                    
                            .block-footer
                                .btn-back.btn.btn--border-black Назад
                                .btn-next.btn.btn--black Далее

                        <!-- <div class="block-content"><b>Оплата:</b>
                            <p>Банковская карта</p>
                        </div> -->

                    // step 4
                    .block
                        .block-header
                            span 4
                            .block__name Бонусный счёт

                        .block-wrap
                            .block-body
                                
                                .bonus-account
                                    .bonus-account__item
                                        p Бонусный счёт: <b>2 500 балов</b>

                                    .bonus-account__item
                                        p Вы можете оплатить: <b>1 000</b>

                                    .input-style
                                        input(type="text", name="bonus", placeholder="Введите сумму")

                            .block-footer
                                .btn-back.btn.btn--border-black Назад
                                .btn-next.btn.btn--black Далее

                        <!-- <div class="block-content">
                            <p>Оплатить:<b>&nbsp;1000&nbsp;баллов</b></p>
                        </div> -->

                    // step 5
                    .block
                        .block-header
                            span 5
                            .block__name Покупатель

                        .block-wrap
                            .block-body
                                .customer-info
                                    .input-style
                                        input(type="text", name="customer-name", placeholder="ФИО*")
                                        input(type="text", name="customer-email", placeholder="E-mail*")
                                        input(type="text", name="customer-phone", placeholder="Телефон*", phone-number)
                                        input(type="text", name="customer-address", placeholder="Адрес*")
                                    .textarea-style
                                        textarea(name="customer-comment", placeholder="Комментарии к заказу")
                                        
                            .block-footer
                                .btn-back.btn.btn--border-black Назад
                                .btn-next.btn.btn--black Далее

                        <!-- <div class="block-content">
                            <p><b>ФИО:</b>Иванов Иван Иванович</p>
                            <p><b>Email:</b>ivan@mail.ru</p>
                            <p><b>Телефон:</b>+7&nbsp;900&nbsp;800-08-81</p>
                            <p><b>Адрес:</b>г.&nbsp;Москва, ул.&nbsp;Мясницкая, д.&nbsp;1</p>
                            <p><b>Комментарий к&nbsp;заказу:</b>положите в&nbsp;разные коробки</p>
                        </div> -->
                    
                .checkout-total

                    .total-props.total-sum
                        .total-props__name Итого
                        .total-props__value 100 000 ₽

                    .total-props
                        .total-props__name Доставка
                        .total-props__value СДЭК почтамат

                    .total-props
                        .total-props__name Оплата
                        .total-props__value Банковская карта

                    .total-props
                        .total-props__name Списание баллов
                        .total-props__value 1000

                    .total-action
                        .btn.btn--black Оформить заказ
                    
                    .agreement
                        p Нажимая кнопку, вы соглашаетесь с обработкой ваших персональных данных