extends /layout/layout

block title
    - var title = 'Доставка и оплата'
    - var page = 'page-info'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Доставка и оплата', 'Инфо', 'Доставка и оплата')

    .navigation
        .container
            .nav-link
                a(href="/info").nav-link__item О бренде
                a(href="/delivery-and-payment").nav-link__item.active Доставка и оплата
                a(href="/return").nav-link__item Возврат и обмен
                a(href="/faq").nav-link__item FAQ
                a(href="/contacts").nav-link__item Контакты

    section.section-delivery

        .container

            .info

                .info-block
                    h3 Доставка
                    .unit
                        .unit-item
                            .unit-item-icon
                                +img('deliver.png')
                            p Мы доставляем через СДЭК и Почту России

                        .unit-item
                            .unit-item-icon
                                +img('tracking.svg')
                            p Как только сделаете заказ, мы дадим вам трек-номер, чтобы вы могли следить за своим заказом

                        .unit-item
                            .unit-item-icon
                                +img('shipping-cost.svg')
                            p Стоимость и сроки доставки посчитаем, при оформлении заказа.

                .info-block
                    h3 Оплата
                    .unit.unit-payment
                        .unit-item
                            .unit-item-icon
                                +img('smartphone.svg')
                            h4 Банковская карта
                            p Прошлый век, когда нужно было бегать за сдачей! Оплатите свой заказ онлайн прямо на сайте через банковскую карту.

                        .unit-item
                            .unit-item-icon
                                +img('qr-code.svg')
                            h4 QR-код
                            p Все делается мгновенно — отсканируйте QR-код с помощью своего мобильного банковского приложения и оплатите заказ за считанные секунды.

                .info-text Если у вас остались вопросы, не стесняйтесь спрашивать у нашей поддержки.

                .info-contacts
                    .info-contacts__item
                        .info-contacts__item-label Телефон
                        .info-contacts__item-value
                            a(href="tel:+79000000000") +7 900 000-00-00

                    .info-contacts__item
                        .info-contacts__item-label Email
                        .info-contacts__item-value
                            a(href="mailto:support@aniclot.com") support@aniclot.com

                    .info-contacts__item
                        .info-contacts__item-label Социальные сети
                        .info-contacts__item-value
                            a(href="vk.com" target="_blank")
                                include ../icons/vk.svg
                            a(href="instagram.com" target="_blank")
                                include ../icons/insta.svg
                            a(href="web.telegram.org" target="_blank")
                                include ../icons/telegram.svg

                    .info-contacts__item
                        .info-contacts__item-label Заявка на сайте
                        .btn.btn--black(data-src="#popup-request" data-fancybox) Оставить заявку
