extends /layout/layout

block title
    - var title = 'Избранное'
    - var page = 'page-favourite'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Избранное', 'Избранное')

    section.section-search

        .container

            .catalog-top

                .result 100 товаров в избранном

                .sort
                    p Сортировка:

                    .select
                        .select-value По популярности
                        .option
                            a.option__item.selected(href="javascript:void(0)") По популярности
                            a.option__item(href="javascript:void(0)") По возрастанию цены
                            a.option__item(href="javascript:void(0)") По убыванию цены
                            a.option__item(href="javascript:void(0)") По новизне

            .catalog-result

                include ../components/_product
                +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок', true)
                +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва', true)
                +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок', true)
                +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва', true)
                +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок', true)
                +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва', true)
                +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок', true)
                +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва', true)
                +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок', true)
                +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва', true)
                +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок', true)
                +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва', true)

            include ../components/_pagination