extends /layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'

block main

    section.section-hero

        .hero

            .swiper

                .swiper-wrapper

                    .swiper-slide
                        +img('hero-bg.jpg')

                    .swiper-slide
                        +img('hero-bg.jpg')

                    .swiper-slide
                        +img('hero-bg.jpg')

            .swiper-pagination

            .swiper-navigation
                .btn.btn--black.btn-arrow.swiper-btn-next
                    include ../icons/arrow-right.svg
                .btn.btn--black.btn-arrow.swiper-btn-prev
                    include ../icons/arrow-right.svg

    section.section-slider

        .container

            .section-top
                .section-title Новинки
                a(href="catalog.html").btn.btn-arrow-right.btn--black Все новинки
                    include ../icons/arrow-right.svg

        .slider

            .swiper

                .swiper-wrapper

                    .swiper-slide
                        +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')

            .swiper-pagination

            .swiper-navigation
                .btn.btn--gray.btn-arrow.swiper-btn-next
                    include ../icons/arrow-right.svg
                .btn.btn--gray.btn-arrow.swiper-btn-prev
                    include ../icons/arrow-right.svg

            a(href="catalog.html").btn.btn-arrow-right.btn--black Все новинки
                include ../icons/arrow-right.svg

    section.section-slider

        .container

            .section-top
                .section-title Скидки
                a(href="catalog.html").btn.btn-arrow-right.btn--black Все скидки
                    include ../icons/arrow-right.svg

        .slider

            .swiper

                .swiper-wrapper

                    .swiper-slide
                        +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')

            .swiper-pagination

            .swiper-navigation
                .btn.btn--gray.btn-arrow.swiper-btn-next
                    include ../icons/arrow-right.svg
                .btn.btn--gray.btn-arrow.swiper-btn-prev
                    include ../icons/arrow-right.svg

            a(href="catalog.html").btn.btn-arrow-right.btn--black Все скидки
                include ../icons/arrow-right.svg

    section.section-banner

        .container

            a(href="catalog.html")
                picture
                    source(media="(max-width: 743px)", srcset="/assets/images/hero-bg.jpg")
                    img(src="/assets/images/banner.jpg", alt="")

    section.section-collection

        .container

            .collection

                .collection-title
                    .section-title Популярные коллекции
                    a(href="catalog.html").btn.btn-arrow-right.btn--black Все коллекции
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Магическая битва
                    .collection__item-img
                        +img('img-1.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Человек — бензопила
                    .collection__item-img
                        +img('img-2.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Евангелион
                    .collection__item-img
                        +img('img-3.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Клинок рассекающий демонов
                    .collection__item-img
                        +img('img-4.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Берсерк
                    .collection__item-img
                        +img('img-5.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Моя геройская академия
                    .collection__item-img
                        +img('img-6.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name Блич
                    .collection__item-img
                        +img('img-7.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

                a(href="catalog.html").collection__item
                    .collection__item-title Коллекция
                    .collection__item-name One-Punch Man
                    .collection__item-img
                        +img('img-8.png')
                    .btn.btn--dark-gray.btn-arrow
                        include ../icons/arrow-right.svg

    section.section-banner

        .container

            a(href="catalog.html")
                picture
                    source(media="(max-width: 743px)", srcset="/assets/images/hero-bg.jpg")
                    img(src="/assets/images/banner.jpg", alt="")

    section.section-offer

        .container

            .offer

                .offer-print
                    .offer-print__img
                        +img('t-shirt.png')
                    .offer-print__title Напечатаем твой принт
                    .offer-print__text Пришли нам своё изображение и мы напечатаем его для тебя
                    .btn.btn-arrow-right.btn--black(data-src="#popup-upload" data-fancybox) Оставить заявку
                        include ../icons/arrow-right.svg

                .offer-sale
                    .offer-sale__label 20% скидка
                    .offer-sale__text на первый заказ после&nbsp;регистрации
                    .offer-sale__arrow
                        +img('arrow.svg')
                        .btn.btn-arrow-right.btn--white(data-src="#popup-auth" data-fancybox) Зарегистрироваться
                            include ../icons/arrow-right.svg

                .offer-bonus
                    .offer-bonus__title Возвращаем бонусы с&nbsp;каждой покупки!
                    .offer-bonus__item 1 бонус = 1 рубль
                    .offer-bonus__item Оплачивай до 30% от покупки
                    .offer-bonus__item Баллы действуют 1 год

    section.section-subscribe

        .container

            .subscribe

                .subscribe-block
                    .subscribe__title Не хватает новостей?
                        br
                        |Хочется чего‑то свеженького?
                        br
                        |Тогда подписывайтесь на нашу рассылку!
                    .subscribe__text Обещаем не спамить, а присылать только самое интересное: акции, скидки, новые коллекции и многое другое.

                    form(action="/")
                        .subscribe__form
                            .input-style
                                input(type="text" name="email" placeholder="Email" autocomplete="off")
                            button(type="submit").btn.btn-arrow-right.btn--white Подписаться
                                include ../icons/arrow-right.svg

                    .agreement Нажимая кнопку, вы соглашаетесь с обработкой ваших персональных данных

                .subscribe-bg
                    +img('pikaso_reimagine_colorful-flat-illustration-classical-animes-A-youn.png')