extends /layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'

block main

    section.section-hero

        .container

            .hero

                .swiper

                    .swiper-wrapper

                        .swiper-slide
                            +img('hero-bg.jpg')

                        .swiper-slide
                            +img('hero-bg.jpg')

                        .swiper-slide
                            +img('hero-bg.jpg')

                .swiper-pagination

                .swiper-navigation
                    .btn.btn--black.btn-arrow.swiper-btn-next
                        include ../icons/arrow-right.svg
                    .btn.btn--black.btn-arrow.swiper-btn-prev
                        include ../icons/arrow-right.svg