extends /layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'

block main

    section.section-hero

        .container

            .hero

                .swiper

                    .swiper-wrapper

                        .swiper-slide
                            +img('hero-bg.jpg')

                        .swiper-slide
                            +img('hero-bg.jpg')

                        .swiper-slide
                            +img('hero-bg.jpg')

                .swiper-pagination

                .swiper-navigation
                    .btn.btn--black.btn-arrow.swiper-btn-next
                        include ../icons/arrow-right.svg
                    .btn.btn--black.btn-arrow.swiper-btn-prev
                        include ../icons/arrow-right.svg

    section.section-slider

        .container

            .section-top
                .section-title Новинки
                a(href="catalog.html").btn.btn-arrow-right.btn--black Все новинки
                    include ../icons/arrow-right.svg

            .slider

                .swiper

                    .swiper-wrapper

                        .swiper-slide
                            +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                        .swiper-slide
                            +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                        .swiper-slide    
                            +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                        .swiper-slide    
                            +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва')
                        .swiper-slide    
                            +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                        .swiper-slide    
                            +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')

                .swiper-pagination

                .swiper-navigation
                    .btn.btn--black.btn-arrow.swiper-btn-next
                        include ../icons/arrow-right.svg
                    .btn.btn--black.btn-arrow.swiper-btn-prev
                        include ../icons/arrow-right.svg

                a(href="catalog.html").btn.btn-arrow-right.btn--black Все новинки
                    include ../icons/arrow-right.svg

    section.section-slider

        .container

            .section-top
                .section-title Скидки
                a(href="catalog.html").btn.btn-arrow-right.btn--black Все скидки
                    include ../icons/arrow-right.svg

            .slider

                .swiper

                    .swiper-wrapper

                        .swiper-slide
                            +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                        .swiper-slide
                            +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                        .swiper-slide    
                            +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва')
                        .swiper-slide    
                            +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                        .swiper-slide    
                            +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                        .swiper-slide    
                            +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')

                .swiper-pagination

                .swiper-navigation
                    .btn.btn--black.btn-arrow.swiper-btn-next
                        include ../icons/arrow-right.svg
                    .btn.btn--black.btn-arrow.swiper-btn-prev
                        include ../icons/arrow-right.svg

                a(href="catalog.html").btn.btn-arrow-right.btn--black Все скидки
                    include ../icons/arrow-right.svg