extends /layout/layout

block title
    - var title = 'О бренде'
    - var page = 'page-info'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('О бренде', 'Инфо')

    .navigation
        .container
            .nav-link
                a(href="/info").nav-link__item.active О бренде
                a(href="/delivery-and-payment").nav-link__item Доставка и оплата
                a(href="/return").nav-link__item Возврат и обмен
                a(href="/faq").nav-link__item FAQ
                a(href="/contacts").nav-link__item Контакты

    section.section-about

        .container

            .info
            
                .about-img
                    +img('about-img.jpg')

                .about-text
                    p Бренд Aniclot появился в 2019 году и быстро завоевал популярность среди ценителей аниме. Её создатели утверждают, что им удалось совместить высокое качество вещей и яркие рисунки, которые нравятся молодёжи. Сегодня в каталоге бренда представлены футболки, свитшоты, худи, лонгсливы. Каждый покупатель может выбрать для себя подходящую вещь, которая будет соответствовать его вкусам и предпочтениям.
                        br
                        br
                        | Кроме того, Aniclot регулярно выпускает новые коллекции, которые отражают последние тенденции моды. Также в ассортименте бренда есть одежда с героями популярных мультфильмов и сериалов, таких как «Хвост Феи», «Наруто», «Моя геройская академия» и других.
                        br
                        br
                        | Бренд Aniclot — это не просто магазин одежды. Это сообщество людей, объединённых любовью к аниме. Здесь можно найти новых друзей, поделиться впечатлениями о просмотренных сериалах, обсудить новинки и многое другое. Компания активно сотрудничает со своими клиентами, проводит конкурсы и розыгрыши, устраивает встречи и фестивали. Благодаря этому она стала одной из самых узнаваемых и популярных в своей нише.