extends /layout/layout

block title
    - var title = 'Бонусный счёт'
    - var page = 'page-personal'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Бонусный счёт', 'Личный кабинет', 'Бонусный счёт')

    section.section-personal-bonus

        .container

            .personal-wrap

                .personal-aside

                    a.personal-aside__item(href="/personal") Личные данные
                    a.personal-aside__item(href="/personal-orders") Текущие заказы
                    a.personal-aside__item(href="/personal-history") История заказов
                    a.personal-aside__item.active(href="/personal-bonus") Бонусный счёт

                .personal-main

                    .personal-bonus На вашем бонусном счёте: <b>2000 баллов</b>
                        p История начислений и списаний

                    .bonuses-table
                        
                        .bonuses-table__row   
                            .bonuses-table__item Дата операции
                            .bonuses-table__item Сумма
                            .bonuses-table__item Операция
                            .bonuses-table__item Активны с:
                            .bonuses-table__item Активны по:
                        
                        .bonuses-table__row
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 500 баллов
                            .bonuses-table__item Заказ № 1
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 03.04.2025

                        .bonuses-table__row
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 500 баллов
                            .bonuses-table__item Заказ № 1
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 03.04.2025

                        .bonuses-table__row
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 500 баллов
                            .bonuses-table__item Заказ № 1
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 03.04.2025

                        .bonuses-table__row
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 500 баллов
                            .bonuses-table__item Заказ № 1
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 03.04.2025

                        .bonuses-table__row
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 500 баллов
                            .bonuses-table__item Заказ № 1
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 03.04.2025

                        .bonuses-table__row
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 500 баллов
                            .bonuses-table__item Заказ № 1
                            .bonuses-table__item 03.04.2024
                            .bonuses-table__item 03.04.2025
