extends /layout/layout

block title
    - var title = 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок'
    - var page = 'page-product'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('', 'Каталог', 'Аниме', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')

    section.section-product

        .container

            .product

                .product-gallery

                    .product-main
                        .product-label New!

                        .product-category клинок рассекающий демонов

                        .product-favourite
                            svg(data-state="default" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.6875 1.90625C12.3689 1.90625 10.808 3.04559 10 3.84207C9.19203 3.04559 7.63105 1.90625 5.3125 1.90625C2.13746 1.90625 0 4.45703 0 7.58016C0 11.6588 3.87668 14.2266 9.49984 18.9127C9.64469 19.0334 9.82234 19.0937 10 19.0937C10.1777 19.0937 10.3553 19.0334 10.5002 18.9127C16.1221 14.2276 20 11.6589 20 7.58016C20 4.45512 17.8606 1.90625 14.6875 1.90625ZM10 17.2971C4.82988 13.0199 1.5625 10.7438 1.5625 7.58016C1.5625 5.53707 2.85063 3.46875 5.3125 3.46875C6.4109 3.46875 7.41926 3.79922 8.30953 4.45094C8.97473 4.93789 9.33027 5.43676 9.35266 5.46867C9.49727 5.68746 9.73766 5.8191 10 5.8191C10.2623 5.8191 10.5027 5.68746 10.6473 5.46867C10.6697 5.43676 11.0253 4.93789 11.6905 4.45094C12.5807 3.79922 13.5891 3.46875 14.6875 3.46875C17.1494 3.46875 18.4375 5.53707 18.4375 7.58016C18.4375 10.7401 15.1875 13.0054 10 17.2971Z" fill="white")
                            svg(data-state="active" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M14.6875 0.40625C12.3689 0.40625 10.808 1.54559 10 2.34207C9.19203 1.54559 7.63105 0.40625 5.3125 0.40625C2.13746 0.40625 0 2.95703 0 6.08016C0 10.1588 3.87668 12.7266 9.49984 17.4127C9.64469 17.5334 9.82234 17.5937 10 17.5937C10.1777 17.5937 10.3553 17.5334 10.5002 17.4127C16.1221 12.7276 20 10.1589 20 6.08016C20 2.95512 17.8606 0.40625 14.6875 0.40625Z" fill="#231F20")

                        .swiper

                            .swiper-wrapper

                                .product__slide.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__slide.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__slide.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__slide.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__slide.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__slide.swiper-slide
                                    div
                                        +img('item-3.png')

                        .swiper-pagination

                    .product-thumbs

                        .swiper

                            .swiper-wrapper

                                .product__nav.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__nav.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__nav.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__nav.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__nav.swiper-slide
                                    div
                                        +img('item-3.png')
                                .product__nav.swiper-slide
                                    div
                                        +img('item-3.png')

                        .swiper-navigation
                            .swiper-button.swiper-button-next
                            .swiper-button.swiper-button-prev

                .product-info

                    h1.title Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок

                    .product-info__desc
                        p Состав материала: 70% хлопок, 25% полиэстер, 5% лайкра
                        p Коллекция: Клинок рассекающий демонов
                        p Российский размер: 56
                        p Размер производителя: XL

                    .product-info__color
                        .product-info__title Цвет
                        .bricks
                            .brick-item.selected(style="background-color: #333333" title="Черный")
                            .brick-item(style="background-color: #ffffff" title="Белый")
                            .brick-item(style="background-color: #F1F4F5" title="Слоновая кость")
                            .brick-item(style="background-color: #D81823" title="Красный")
                            .brick-item(style="background-color: #F2994A" title="Оранжевый")
                            .brick-item(style="background-color: #219653" title="Зеленый")
                            .brick-item(style="background-color: #2F80ED" title="Синий")
                            .brick-item(style="background-color: #9B51E0" title="Фиолетовый")
                            .brick-item(style="background-color: #6FCF97" title="Светло-зеленый")
                            .brick-item(style="background-color: #56CCF2" title="Голубой")

                    .product-info__size
                        .product-info__title Размер
                        .bricks
                            .brick-item XS
                            .brick-item S
                            .brick-item.selected M
                            .brick-item L
                            .brick-item XL
                            .brick-item XXL

                        .product-info__table(data-src="#popup-table" data-fancybox) Таблица размеров

                    .product-info__price 10 000 ₽
                        .old-price 20 000 ₽
                        .bonus + 200 Баллов

                    .product-info__action
                        .qty-input
                            .qty.qty-plus
                            input(type="text" name="qty" value="10" number-only)
                            .qty.qty-minus

                        .product-info__cart.btn.btn--black В корзину
                        .product-info__order.btn.btn--border-black Купить в 1 клик

                    .register-sale
                        include ../icons/flame.svg

                        p Скидка 20% на первый заказ после регистрации

                        .btn.btn-arrow-right.btn--gray(data-src="#popup-auth" data-fancybox) Зарегистрироваться
                            include ../icons/arrow-right.svg

    section.section-desc

        .container

            .tab
                .tab-item.active(data-active=1) Описание
                .tab-item(data-active=2) Характеристики
                .tab-item(data-active=3) Отзывы
                    span 50
                .tab-item(data-active=4) Доставка и оплата

            .tab-content.active(data-show=1)
                .desc-text
                    p Футболочки с сасными принтами. Чёрный клевер Аста гримуар Футболка streetwear оверсайз зайдёт всем топовым тян и кун. Этот стилек сделан нами с любовью для фанатов аниме Evangelion, Ван Пис, Магическая битва, Клинок расскающий демонов, Атака титанов, Хантер и Джо джо. Женская футболка с иероглифами отлично подойдёт для бега и офиса, занятий йогой и танцами или просто для повседневного ношения. Это няшный подарок для чёткой E-girl, так же как и для топового гуля. Чёрная футболка oversize комфортная для повседневной носки и прекрасно дополнит любой ваш стильный лук. Тишка будет офигенно смотреться на альтушках и тех кто топит за альт! Аниме футболка в стиле харадзюку сделана из 100% хлопка, чтобы кожа наших любимых дед инсайдов и томбоев всегда дышала. В этой майке аниме все вокруг сразу поймут, что ты настоящий краш. Летняя мужская футболка оверсайз обладает устойчивостью к кринжу и токсикам. Принт на футболке выполнен качественным современным методом печати. Если любишь ахегао аниме хентай майки в стиле юникло и asos, бери футболку, и делай флекс в шкалке, унике или на работе.
                
            .tab-content(data-show=2)
                .desc-char
                    p Состав материала: 70% хлопок, 25% полиэстер, 5% лайкра
                    p Коллекция: Клинок рассекающий демонов
                    p Российский размер: 56
                    p Размер производителя: XL

            .tab-content(data-show=3)
                .desc-reviews
                    .desc-reviews__block
                        +img('anime-girl-2.svg')
                        p Наша команда стремится к тому, чтобы каждый клиент остался доволен покупкой. Спасибо за то, что выбрали нас и оставили классные отзывы о нашей работе!
                        .btn.btn--black(data-anchor="#review_form") Оставить отзыв

                    .desc-reviews-list

                        .desc-reviews__item
                            .desc-reviews__item-top
                                .desc-reviews__item-img
                                    +img('review-img-sample.jpg')
                                .desc-reviews__item-name Екатерина Рождественская
                                .desc-reviews__item-date 23.11.2023
                            .desc-reviews__item-main
                                .rating
                                    i.fill(style="width: 70%;")
                                    i.empty
                                p Хочу поделиться своими впечатлениями от магазина с анимешной одеждой. Это просто потрясающе! Я давно искала место, где можно купить качественную одежду с любимыми персонажами, и наконец‑то нашла его.
                                    br
                                    br
                                    |Первое, что меня поразило, — это огромный выбор товаров. Здесь есть всё: футболки, свитшоты, сумки, носки и многое другое. Я смогла найти вещи с моими самыми любимыми тайтлами, такими как «Наруто», «Моя геройская академия» и «Одиннадцать сантиметров». Каждая вещь выполнена очень аккуратно и с любовью к деталям. Яркие принты и надписи смотрятся стильно и современно.
                                
                                span.show-more Показать ещё
                                    svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                                        path(d="M14.1654 10.8333L9.9987 15M9.9987 15L5.83203 10.8333M9.9987 15L9.9987 5" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                        .desc-reviews__item
                            .desc-reviews__item-top
                                .desc-reviews__item-img
                                    +img('review-img-sample.jpg')
                                .desc-reviews__item-name Милана
                                .desc-reviews__item-date 23.11.2023
                            .desc-reviews__item-main
                                .rating
                                    i.fill(style="width: 50%;")
                                    i.empty
                                p Отличный магазин с анимешной одеждой! Большой выбор товаров, качественные материалы и быстрая доставка. Рекомендую!
                        
                        .desc-reviews__item
                            .desc-reviews__item-top
                                .desc-reviews__item-img
                                    +img('review-img-sample.jpg')
                                .desc-reviews__item-name Валерия
                                .desc-reviews__item-date 23.11.2023
                            .desc-reviews__item-main
                                .rating
                                    i.fill(style="width: 80%;")
                                    i.empty
                                p Заказывал в этом магазине несколько вещей с разными персонажами. Все пришло быстро и в отличном состоянии. Качество одежды на высоте, рисунки яркие и чёткие. Буду заказывать ещё!
                    
                    #review_form
                        form(action="/", method="post")
                            .review-form
                                .input-style
                                    input(type="text" name="name" placeholder="Имя *" autocomplete="off" required)
                                .input-style
                                    input(type="text" name="email" placeholder="Email *" autocomplete="off" required)
                                .textarea-style
                                    textarea(name="text" placeholder="Отзыв *" required)
                        
                                button.btn.btn--black(type="submit") Оставить отзыв
                                .agreement Нажимая кнопку, вы соглашаетесь с обработкой ваших персональных данных

            .tab-content(data-show=4)
                .info
                    .info-block
                        h3 Доставка
                        .unit
                            .unit-item
                                .unit-item-icon
                                    +img('deliver.png')
                                p Мы доставляем через СДЭК и Почту России

                            .unit-item
                                .unit-item-icon
                                    +img('tracking.svg')
                                p Как только сделаете заказ, мы дадим вам трек-номер, чтобы вы могли следить за своим заказом

                            .unit-item
                                .unit-item-icon
                                    +img('shipping-cost.svg')
                                p Стоимость и сроки доставки посчитаем, при оформлении заказа.

                    .info-block
                        h3 Оплата
                        .unit.unit-payment
                            .unit-item
                                .unit-item-icon
                                    +img('smartphone.svg')
                                h4 Банковская карта
                                p Прошлый век, когда нужно было бегать за сдачей! Оплатите свой заказ онлайн прямо на сайте через банковскую карту.

                            .unit-item
                                .unit-item-icon
                                    +img('qr-code.svg')
                                h4 QR-код
                                p Все делается мгновенно — отсканируйте QR-код с помощью своего мобильного банковского приложения и оплатите заказ за считанные секунды.

                    .info-text Если у вас остались вопросы, не стесняйтесь спрашивать у нашей поддержки.

                    .info-contacts
                        .info-contacts__item
                            .info-contacts__item-label Телефон
                            .info-contacts__item-value
                                a(href="tel:+79000000000") +7 900 000-00-00

                        .info-contacts__item
                            .info-contacts__item-label Email
                            .info-contacts__item-value
                                a(href="mailto:support@aniclot.com") support@aniclot.com

                        .info-contacts__item
                            .info-contacts__item-label Социальные сети
                            .info-contacts__item-value
                                a(href="vk.com" target="_blank")
                                    include ../icons/vk.svg
                                a(href="instagram.com" target="_blank")
                                    include ../icons/insta.svg
                                a(href="web.telegram.org" target="_blank")
                                    include ../icons/telegram.svg

                        .info-contacts__item
                            .info-contacts__item-label Заявка на сайте
                            .btn.btn--black(data-src="#popup-request" data-fancybox) Оставить заявку

    section.section-slider

        .container

            .section-title Похожие товары

        .slider

            .swiper

                .swiper-wrapper

                    .swiper-slide
                        +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-3.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-4.png', 'Магическая битва', 'Футболка Магическая битва')
                    .swiper-slide
                        +product('item-1.png', 'клинок рассекающий демонов', 'Футболка аниме клинок рассекающий демонов, чёрный цвет, 46 размер, 100% хлопок')
                    .swiper-slide
                        +product('item-2.png', 'Магическая битва', 'Футболка Магическая битва')

            .swiper-pagination

            .swiper-navigation
                .btn.btn--gray.btn-arrow.swiper-btn-next
                    include ../icons/arrow-right.svg
                .btn.btn--gray.btn-arrow.swiper-btn-prev
                    include ../icons/arrow-right.svg