extends /layout/layout

block title
    - var title = 'Возврат и обмен'
    - var page = 'page-info'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Возврат и обмен', 'Инфо', 'Возврат и обмен')

    .navigation
        .container
            .nav-link
                a(href="/info").nav-link__item О бренде
                a(href="/delivery-and-payment").nav-link__item Доставка и оплата
                a(href="/return").nav-link__item.active Возврат и обмен
                a(href="/faq").nav-link__item FAQ
                a(href="/contacts").nav-link__item Контакты

    section.section-return

        .container

            .info

                h2 Алгоритм действий для возврата/обмена товара
                ol
                    li Основное правило, действующее в отношении товаров, приобретённых в интернет-магазине — это право отказаться от покупки и вернуть товар без объяснения причин в течение семи дней с момента его фактической передачи покупателю. Отказаться от заказа до момента доставки можно в любое время.
                    li Покупателю даётся 7 дней для того, чтобы доставить не подходящий ему товар в интернет-магазин. Если интернет-магазин не довёл в письменной форме (памятка) до покупателя информацию о порядке и сроках возврата товара, то срок, в течение которого покупатель имеет право вернуть товар, увеличивается до трёх месяцев.
                    li Предоставить магазину товар, гарантийный талон, все комплектующие, притом ярлыки и бирки должны быть сохранены, а нарушение заводской упаковки не является основанием для отказа обмена товара или возврата денег.
                    li Получить деньги от продавца или оформить обмен. В последнем случае нужно оплатить разницу в стоимости товаров (если обмен происходит на более дорогую модель), получить гарантийный талон и чек.
                    li Не редко возникают случаи, когда возврат товара обусловлен его некачественностью либо поломкой.

                h2 Алгоритм действий в случае покупки неисправного товара
                ol
                    li Если товар оказался неисправным, его необходимо вернуть до окончания гарантийного срока. В случае, если вес товара больше 5 кг, интернет-магазин должен оказать доставку товара в сервисный центр за свой счёт.
                    li Сервисный центр должен выдать заключение о том, что товар неисправен или не может быть отремонтирован. Согласно п. 1 ст. 20 закона о защите прав потребителей, срок устранения недостатков товара, определяемый в письменной форме соглашением сторон, не может превышать 45 дней. Лучше лично предоставить товар в сервисный центр, так как продавец может повлиять на результат экспертизы и сделать виновным покупателя.
                    li Доставить товар по адресу интернет-магазина. Предоставить акт, чек, гарантийный талон и все комплектующие.
                    li Получить деньги от продавца или оформить обмен.

                h2 Период возврата денег покупателю
                p Для возврата денег необходимо составить акт возврата, в котором должны быть две подписи (покупателя, продавца). Продавец должен вернуть деньги в момент составления акта, однако у него есть право совершить возврат в течение 10-ти дней. При этом есть три варианта возврата:
                    br
                    br
                    |наличными;
                    br
                    br
                    |перевод через почту;
                    br
                    br
                    |на карту или счёт.