.pagination
    a(href="prev" title="Предыдущая страница").pagination-item.pagination-arrow.disabled
        include ../icons/arrow-left.svg
    a(href="1" title="Текущая страница ").pagination-item.active 1
    a(href="2" title="Страница 2").pagination-item 2
    a(href="...").pagination-item.pagination-dots ...
    a(href="7" title="Страница 10").pagination-item 10
    a(href="next" title="Следующая страница").pagination-item.pagination-arrow
        include ../icons/arrow-right.svg