// ПОПАП "ПОИСК"
#popup-search.popup.popup-search
    .popup-search-container
        form
            .search-form
                .input-style
                    input#search(type="search", name="search", autocomplete="off", placeholder="Поиск")
                button.btn.btn--black(type="submit")
                    p Поиск
                    include ../icons/arrow-right.svg

// ПОПАП "РЕГИСТРАЦИЯ/АВТОРИЗАЦИЯ"
#popup-auth.popup.popup-auth
    .popup-auth-container
        form
            .search-form
                .input-style
                    input#search(type="search", name="search", autocomplete="off", placeholder="Поиск")
                button.btn.btn--black(type="submit")
                    p Поиск
                    include ../icons/arrow-right.svg