:root {
    --font-manrope: 'Manrope', sans-serif;
}

$manrope: var(--font-manrope);

body {
    font-family: $manrope;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: $brand;
}
