:root {
    --color-brand: #231f20;
    --color-bg: #f1f4f5;
    --color-accent: #d81823;

    --transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

$brand: var(--color-brand);
$bg: var(--color-bg);
$accent: var(--color-accent);

$filter-black: brightness(0) saturate(100%) invert(11%) sepia(6%) saturate(752%) hue-rotate(295deg)
    brightness(90%) contrast(93%);

$transition: var(--transition);
